*.o
*.so
*.la
*.lo
.deps/
.libs/
vcc_if.c
vcc_if.h

Makefile
vmod_vslp.3
README.html


aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
Makefile.in
stamp-h1
